.menu-side {
    opacity: 0.97;
    position: fixed;
    top: 0px;
    padding-top: -6px;
    z-index: 50;
}

/*Vertical tablet*/
@media (min-width: 768px) and (max-width: 900px) and (orientation: portrait) {
    .menu-side {
        /*background-color: violet;*/
        width: 100%;
    }
}

/* Tablet en landscape (horizontal) */
@media (min-width: 901px) and (max-width: 1024px) and (orientation: landscape) { 
    .menu-side {
        background-color: blue;
        width: 38%;
        position:absolute;
       /* height: 114vh;*/
        top: 145px;
    }
}


/* Desktop pequeño (laptops) */
@media (min-width: 1024px) and (max-width: 1279px) {
    .menu-side {
        position: absolute;
        width: 36%;
        background-color: chocolate;
    }
}

/* Desktop grande (monitores) */
@media (min-width: 1280px) {
    .menu-side {
        position: absolute;
        width: 28%;
        z-index: 5;
    }
 }