@media (orintation: portrait) {
    .show-sandwich {
        display: inline-block; /*sideMenu visible in portrait*/
    }
}

@media (orientation: landscape) {
    .side-sandwich {
        display: block; /* sideMenu hidden in landscape*/
    }

    .menu-landscape {
        position: fixed;
        top: 55px;
        left: 0;
        width: 400px;
    }
}